*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* change background colour of whple page*/
body{
    background-color: #fbfbf2 !important;
}

/* change background */
.nav-colour{
    background-color: #fbfbf2 !important;
    color: #fbfbf2 !important;
}


/* add animation to navbar*/
.nav-link ::after {
    color: #53917e !important;
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #95a78d !important;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}


/* style logo image to fit nav-bar */
.store_logo{
    width: 7%;
    height: 7%;
}

/* style the layout of cards using classnames of row and image */
.card-img-top{
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.row{
    text-align: center;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

/* style text layout */
.display-1{
    text-align: center;
    background-color: #fbfbf2 !important;
    color: #9b7b6f !important;
}


/* change background colour of add-to-cart buttom  */
.btn-success1, .btn-primary
{
    background-color: #95a78d !important;
}

/* change background colour of view-more buttom  */
.btn-success{
    background-color: #53917e !important;
    color: #fbfbf2 !important;
}

.product{
    border: 1px solid #95a78d;
    margin: -1px 19px 3px -1px;
    padding: 10px;
    text-align: center;
    background-color: #53917e;
}

.table, .th, .tr{
    text-align: center;
}

/* add hover effects to the images of card */
.card{
    overflow: hidden;
}

.card img{
    overflow: hidden;
    transition: all 1.3s ease;
}

.card:hover img{
    transform: scale(1.2);
}


.row{
    overflow: hidden;
}

.row img{
    transition: all 1s ease-in-out;
}

.row :hover img{
    transform: scale(1.2);
}


