*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* change background colour of whple page*/
body{
    background-color: #fbfbf2 !important;
}

/* change background */
.nav-colour{
    background-color: #fbfbf2 !important;
    color: #fbfbf2 !important;
}

/* style logo image to fit nav-bar */
.store_logo{
    width: 7%;
    height: 7%;
}

.card-img-top{
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.row{
    text-align: center;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
